<ng-container *ngIf="movieData$ | async as movieData">
  <h2 mat-dialog-title>¿Desea eliminar esta película?</h2>
  <div class="px-3" mat-dialog-content>
    <table class="table align-middle">
      <tbody>
        <tr>
          <td><strong>Titulo</strong></td>
          <td>{{ movieData.title }}</td>
        </tr>
        <tr>
          <td><strong>Genero</strong></td>
          <td>{{ movieData.genre }}</td>
        </tr>
        <tr>
          <td><strong>Idioma</strong></td>
          <td>{{ movieData.language }}</td>
        </tr>
        <tr>
          <td><strong>Duracion</strong></td>
          <td>{{ movieData.duration }} mins</td>
        </tr>
        <tr>
          <td><strong>Calificacion</strong></td>
          <td>{{ movieData.rating }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="p-3" mat-dialog-actions align="end">
    <button
      mat-button
      [mat-dialog-close]="1"
      mat-raised-button
      color="warn"
      (click)="confirmDelete()"
    >
      Borrar
    </button>
    <button mat-button mat-dialog-close mat-raised-button>Cancelar</button>
  </div>
</ng-container>
