<div class="d-flex justify-content-center">
  <mat-card class="my-4 w-50">
    <mat-card-header
      class="mat-elevation-z2 custom-card-header justify-content-between"
    >
      <mat-card-title class="mat-h1"> Registrar Usuario </mat-card-title>
      <div>
        <span class="mat-h4">Ya estas Registrado? </span>
        <button
          mat-raised-button
          class="mat-elevation-z4"
          [routerLink]="['/login']"
        >
          Iniciar Sesion
        </button>
      </div>
    </mat-card-header>
    <mat-card-content class="p-3">
      <form
        [formGroup]="userRegistrationForm"
        (ngSubmit)="registerUser()"
        novalidate
      >
        <mat-form-field class="w-100 mt-1" appearance="outline">
          <mat-label>Nombre</mat-label>
          <input
            matInput
            placeholder="First name"
            formControlName="firstName"
            required
          />
          <mat-error
            *ngIf="
              registrationFormControl.firstName.touched &&
              registrationFormControl.firstName.errors?.['required']
            "
            >Ingrese su nombre</mat-error
          >
        </mat-form-field>

        <mat-form-field class="w-100 mt-1" appearance="outline">
          <mat-label>Apellido</mat-label>
          <input
            matInput
            placeholder="Last Name"
            formControlName="lastName"
            required
          />
          <mat-error
            *ngIf="
              registrationFormControl.lastName.touched &&
              registrationFormControl.lastName.errors?.['required']
            "
            >Ingrese su apellido</mat-error
          >
        </mat-form-field>

        <mat-form-field class="w-100 mt-1" appearance="outline">
          <mat-label>Correo Electronico</mat-label>
          <input
            matInput
            placeholder="User Name"
            formControlName="userName"
            required
          />
          <mat-error
            *ngIf="
              registrationFormControl.userName.touched &&
              registrationFormControl.userName.errors?.['required']
            "
            >Ingrese su correo electronico
          </mat-error>
          <mat-error
            *ngIf="
              registrationFormControl.userName.touched &&
              registrationFormControl.userName.errors?.['userNameNotAvailable']
            "
            >El correo electronico ya se encuentra registrado, por favor coloque otro</mat-error
          >
        </mat-form-field>

        <mat-form-field class="w-100 mt-1" appearance="outline">
          <mat-label>Contraseña</mat-label>
          <input
            matInput
            placeholder="Password"
            formControlName="password"
            [type]="showPassword ? 'text' : 'password'"
            required
          />
          <mat-icon matSuffix (click)="showPassword = !showPassword">{{
            showPassword ? "visibility" : "visibility_off"
          }}</mat-icon>
          <mat-error
            *ngIf="
              registrationFormControl.password.touched &&
              registrationFormControl.password.errors?.['required']
            "
            >Ingrese su contraseña
          </mat-error>
          <mat-error
            *ngIf="
              registrationFormControl.password.touched &&
              registrationFormControl.password.errors?.['invalidPassword']
            "
          >
          La contraseña debe tener al menos 10 caracteres, al menos 1 letra mayúscula, 1 letra minúscula y uno de los siguientes caracteres: !, &#64;, #, ?, o.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100 mt-1" appearance="outline">
          <mat-label>Confirmar Contraseña</mat-label>
          <input
            matInput
            placeholder="Confirm Password"
            formControlName="confirmPassword"
            [type]="showConfirmPassword ? 'text' : 'password'"
            required
          />
          <mat-icon
            matSuffix
            (click)="showConfirmPassword = !showConfirmPassword"
            >{{
              showConfirmPassword ? "visibility" : "visibility_off"
            }}</mat-icon
          >
          <mat-error
            *ngIf="
              registrationFormControl.confirmPassword.touched &&
              registrationFormControl.confirmPassword.errors?.['required']
            "
            >Ingrese su contraseña
          </mat-error>
          <mat-error
            *ngIf="
              registrationFormControl.confirmPassword.touched &&
              registrationFormControl.confirmPassword.errors?.['passwordMismatch']
            "
          >
          Las contraseñas no coinciden
          </mat-error>
        </mat-form-field>

        <mat-label>Genero:</mat-label>
        <mat-radio-group formControlName="gender">
          <mat-radio-button value="Male"> Masculino </mat-radio-button>
          <mat-radio-button value="Female"> Femenino </mat-radio-button>
        </mat-radio-group>
        <mat-error
          *ngIf="
            registrationFormControl.gender.touched &&
            registrationFormControl.gender.errors?.['required']
          "
          >Ingrese su genero</mat-error
        >
        <mat-card-actions align="end">
          <button mat-raised-button color="primary">Registrarse</button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>
